@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center p-5 tn-index-box"
     style="border-radius:12px;">

    <h1 class="fw-bold mb-3"
        style="color:#00E1FF;text-shadow:0 0 15px #00E1FF;font-size:3rem;">
         Bienvenido 
    </h1>

    <p class="mt-3" style="font-size:1.1rem;color:#BFDFFF;">
        Aprende sobre
        <a href="https://learn.microsoft.com/aspnet/core"
           style="color:#00E1FF;text-shadow:0 0 6px #00E1FF;text-decoration:none;">
            cómo construir aplicaciones web con ASP.NET Core
        </a>.
    </p>

</div>
